body {
  background-color:#F7ECDE;
}
h1{
  color: #FF1E00;
}
h3{
  color: #3FA796;
}
hr {
  border-style: none;
  height: 0px;
  width: 5%;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;

}
